//- BCS Integration
extends _base

append head
	title BCS Integration

block content
	h1.page-header BCS Integration
	.area#content

block localJS
	script(type='text/javascript', src="/js/bcs/local.js")