//- Dashboard
extends _base

append head
	title Seeker Brewing Co.

block navigation
	a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.brand Seeker Brewing Co.
	.nav-collapse
		ul.nav
			li.active
				a(href='/') Recipes
			li.visible-desktop
				a(href="/upload") Upload

block content
	h2 Recipes
	table.table
		thead
			tr
				th Name
				th Batches
				th Last Modified
		tbody
			each recipe in recipes
				tr.interactive(data-id=recipe._id)
					td= recipe.name
					td
						- if (recipe.batches.length)
							span.badge.badge-info= recipe.batches.length
						- else
							span.badge 0
					td(data-mtime=recipe.mtime)

block localJS
	script(type='text/javascript')
		window.addEvent('domready', function () {
			// edit time
			document.getElements('td[data-mtime]').each(function (el) {
				el.set('text', jQuery.timeago(Date.parse(el.get('data-mtime'))));
			});

			// click for details
			document.getElements('tr[data-id]').addEvent('click', function () {
				window.location = '/recipe/' + this.get('data-id');
			});
		});