//- Dashboard
extends _base

append head
	title Seeker Brewing Co.

block navigation
	a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.brand Seeker Brewing Co.
	.nav-collapse
		ul.nav
			li.active
				a(href='/') Recipes
			li
				a(href="/upload") Upload

block content
	h2 Recipes
	table.table
		thead
			tr
				th Name
				th Batches
				th Last Modified
		tbody
			each recipe in recipes
				tr
					td= recipe.name
					td
						- if (recipe.batches.length)
							span.badge.badge-info= recipe.batches.length
						- else
							span.badge 0
					td= new Date(recipe.mtime)

block localJS
