//- Upload Form
extends _base

append head
	title Upload a Beer

block content
	h1.page-header Upload a Beer
	.message!= message
	form.form-horizontal(method="post", action="/upload", enctype="multipart/form-data", accept-charset="utf-8")
		fieldset
			.control-group
				label.control-label BeerXML 1.0
				.controls
					input(type="file", name="recipe")
			.control-group
				label.control-label Bitterness
				.controls
					.input-prepend.input-append
						input.span1(type="text", name="bitterness", data-validators="required validate-numeric", placeholder="50")
						span.add-on IBU - Tinseth
			.control-group
				label.control-label Color
				.controls
					.input-prepend.input-append
						input.span1(type="text", name="color", data-validators="required validate-numeric", placeholder="10")
						span.add-on SRM - Morey
			.form-actions
				button.btn.btn-primary(type="submit") Upload
				| &nbsp;
				a.btn(href="/#/") Cancel

block localJS
