// 
//  forms.styl
//  seeker-brewing
//  
//  Created by Carson Christian on 2012-06-14.
//  Copyright 2012 Carson Christian. All rights reserved.
// 

form
	& .controls
		& .fixed
			display block
			padding-top 4px
			font-weight bold